    /* Add a gray background color and some padding to the footer */
    footer {     
      background-color: #3399CC;
      padding: 25px;
      
    }
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }
    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
    }

}.tm-green-btn{
        background-color: #fff;
        border: none;
        color: #3399CC;
        padding: 5px 5px;
        font-family: 'Kanit', sans-serif;
        margin-top: -5px;

}.tm-green-btn:hover,
            .tm-green-btn:focus {
        background-color: #3399CC;
        border: solid;
        border-width: 1px;
        border-color: #fff;
        color:#fff;
        margin-top: -5px;
      } .well p{
        text-indent: 20px;
      }a{
        color: #FF9900;
      }a:hover{
        color: #ff3f00;
      }#bgCard{
        background:#cccccc;
        background-repeat: no-repeat;
        background-image: url("assets/images/tep.jpg");
        background-position: 100% 100%;
        width: 25%;

      }#bgHeader{
        background-repeat: no-repeat;
        background-image: url("assets/images/bg2.jpg");
        background-position: 0% 100%;
        
      }.nav>li>a{
        color: white;
      }.nav>li>a:hover,.nav>li>a:focus{
        color: #3399CC;
      }.carousel-caption>h1{
        color:white;
        text-shadow: 0.1em 0.1em 0.2em black;
      }.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}



.container-fluid:after {
  clear: both;
}



.footer-service-link {
    padding: 0;
    margin-top: 20px;
    width: 100%;
    list-style: none;
}
.footer-service-link::after {
    clear: both;
    content: "";
    display: table;
}
.footer-service-link > li {
    display: block;
    float: left;
    width: 33.33%;
}
.footer-service-link > li > strong {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'thaisans_neuebold';
    font-size: 1.5em;
    font-weight: 400;
}
.footer-service-link > li > ul {
    padding: 0;
    list-style: none;
}.row .col-md-3 > h5{
  color: white;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}p.border-1{
    border: 1px solid orange;
    border-radius: 8px;
    padding: 5px;
}.indent>p,p.indent,hr.indent,.indent>hr{
    text-indent:50px;
  }.indent-2>p,p.indent-2{
    text-indent:25px;
  }.indent-3>p,p.indent-3{
    text-indent:75px;
  }.mySlides {display:none

  }
.demo {cursor:pointer}
.w3-content{max-width:980px;margin:auto}
.w3-row-padding:after,.w3-row-padding:before{content:"";display:table;clear:both}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-section{margin-top:16px!important;margin-bottom:16px!important}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}
.w3-col.s2>img{
  border: 1px dashed ;
  border-color: black;
}.w3-content>img{
      border: 1px dashed ;
  border-color: black;
}.text-left>p,p.text-left{
  text-align: left;
}.border-1{
    border: 1px solid orange;
    border-radius: 8px;
    padding-top:  15px;
    background-color: #FFFFCC;
}
div.messageblue
{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left:66px;
  padding: 15px 10px 15px 10px;
  border: solid 1px #cef2e0;
  background-color: #f5fffa;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  width:720px;
}div.messageblue div.idea
{
  color: #003399;
  font-size: 13px;
  background: url('../../assets/images/icons/info2.png') no-repeat left top;
  padding: 0px 0px 6px 30px;
}
div.messageblue div.idea label
{
  color: #003399;
}.border-2{
    border: double;
    border-color: orange;
    border-radius: 8px;
    padding-top:  15px;
}input.border-input,select.border-select{
  border: 1px red solid;

}.border-3{
  border: double;
    border-color: #3399CC;
    border-radius: 8px;
    padding-top:  15px;
}input:focus,textarea:focus{
   border: 1px #3366CC solid;
   background-color: #d8e5ff;
   color: #3366CC;
   
}select:focus{
    border: 1px #3366CC solid;
   color: #3366CC;
}